/* #nav {
    border: 2px solid red;
    background-image: url(/assets/img/navbar.png);
} */

body{
  font-family: Comfortaa, sans-serif;
  padding: 0px;
  margin: 0px;
}

p.navbar-brand{
  margin-right: 3vw; 
  margin-top: 0.5em;
}

h1, h2{
  color: #FF5858;
  font-family: Comfortaa, sans-serif;
  width:100%;
  white-space: normal !important;
}

div.container-fluid{
  padding-left: 0;
}

#carousel {
  margin: 0 auto;
}

.col-md-6 {
  overflow:hidden;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.nav-link{
  color: #FF5858 !important;
}

section{
  padding-bottom: 50px;
}

.row, footer, main{
  margin: 0px;
  padding: 5px;
}

footer img{
  width: 150px;
  position: relative;
  display: inline-block;
  margin: 10px;
}

footer{
  background-color: #FF5858;
  margin: 0px;
}

footer section{
  padding-bottom: 50px;
}

@media (min-width:1080px) {
  .logo{
    display: none;
    border: 2px solid;
  }
  .logo2{
    display: inline;
    width: 8vw;
    margin: 1vw;
    margin-right: 0;
  }  
}

@media (max-width: 1080px){
  .menu{
    display: none;
  }
}


    .link-primary{
      color:#ffae9d;
    }

    .link-primary:hover{
      color:#ff5858;
    }


    .pvisuel{
      overflow-x: hidden;
    }
@media (max-width: 580px){
    .pvisuel{
      overflow-x: scroll;
    }
}
    
    .visuel{
      position:relative;
      width:516px;
      height:258px;
      background-color:#faf2ea;
      padding:0px;
      overflow:hidden;
    }

    .portrait{
      position:absolute;
      width:25%;
      height:100%;
      filter:grayscale(400%);
      overflow:hidden;
      display: flex;
      justify-content: center;
      z-index:1000;
    }
    
    .portrait img{
      height:100%;
      filter:grayscale(400%);
      position:inline-block;
    }
    
    h1{
      font-size:1.5em !important;
      padding-top:0.5em !important;
    }
    h2.titre{
      position:absolute;
      left:25%;
      width:70%;
      top:5%;
      background-color:#ff5858;
      color:white;
      font-family:Comfortaa, sans-serif;
      font-size:1.3em;
      padding:10px;
      font-weight:normal;
      z-index:1000;
      line-height:90%;
    }
    h2.catch{
      position:absolute;
      left:15%;
      right:10%;
      bottom:2%;
      background-color:#ffae9d;
      color:white;
      font-family:Comfortaa, sans-serif;
      font-size:1.3em;
      padding:10px;
      font-weight:normal;
      line-height:90%;
    }
    .date{
      position:absolute;
      left:27%;
      bottom:5%;
      color:#ff5858;
      font-family:"Montserrat","Quicksand",sans-serif;
      font-size:1em;
      font-weight:normal;
      line-height:85%;
    }
    .ville{
      position:absolute;
      left:27%;
      bottom:29%;
      color:#ffae9d;
      font-family:"Montserrat","Quicksand",sans-serif;
      font-size:3em;
      font-weight:bold;
      z-index:1000;
      line-height:80%;
    }
    .coordDot{
      position:absolute;
      background-color:#ff5858;
      width:15px;
      height:15px;
      border-radius:7px;
      left:75%;
      top:50%;
      z-index:900;
      filter:blur(1px);
    }
    .coord{
      position:absolute;
      height:100%;
      filter:blur(1px);
    }
    .coord img{
      height:100%;
      filter:invert(100%) sepia() saturate(10000%) hue-rotate(295deg)
    }
    
@media (max-width: 1200px){

    .col-md-6{
      flex: 0 0 100% !important;
      max-width: 100% !important;
      width:100% !important;
    }
    
}