/* #nav {
    border: 2px solid red;
    background-image: url(/assets/img/navbar.png);
} */

body{
  font-family: Comfortaa, sans-serif;
  padding: 0px;
  margin: 0px;
}

p.navbar-brand{
  margin-right: 3vw; 
}

h1, h2{
  color: #FF5858;
  font-family: Comfortaa, sans-serif;
}

div.container-fluid{
  padding-left: 0;
}

#carousel {
  width: 50%;
  margin: 0 auto;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.nav-link{
  color: #FF5858 !important;
}

section{
  padding-bottom: 50px;
}

.row, footer, main{
  margin: 0px;
  padding: 5px;
}

footer img{
  height: 80px;
  position: relative;
  display: inline-block;
  margin: 10px;
}

footer{
  background-color: #FF5858;
  margin: 0px;
}

footer section{
  padding-bottom: 50px;
}

@media (min-width:1080px) {
  .logo{
    display: none;
    border: 2px solid;
  }
  .logo2{
    display: inline;
    width: 8vw;
    margin: 1vw;
    margin-right: 0;
  }  
}

@media (max-width: 1080px){
  .menu{
    display: none;
  }
}

@media (max-width: 480px){
  nav div .container-fluid{
    display: block;
    border: 1px solid blue;
  }
  p.navbar-brand{
    text-align: right;
    border: 1px solid red;
  }
}